/* Write your CSS code here */

.item-link {
  text-decoration: none;
}
.item-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 20px 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
}

.item-image {
  height: 180px;
  width: 320px;
  border-radius: 4px;
  margin-right: 20px;
}

.item-topic {
  color: #8e8e8e;
  font-family: 'Roboto';
  font-size: 18px;
}

.item-title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

.avatar-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
}

.avatar {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-name {
  color: #8e8e8e;
  font-family: 'Roboto';
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .item-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }

  .item-image {
    width: 100%;
  }
}
